.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper>div {
  max-width: 600px;
}

input {
  border-color: burlywood !important;
}