@import url(https://fonts.googleapis.com/css?family=Oswald:400);
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
body {
  height: 100vh;
}

.navbar {
  background-color: #ffffca;
  border-style: solid;
  border-width: 0px 0px medium 0px;
}

.navbar-brand {
  font-size: x-large;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-left: 0.5rem;
}

.log {
  font-family: 'Oswald', cursive;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: normal;
  color: black;
}

.in {
  color: #128818;
}

.in:hover {
  color: #13b31b;
  text-decoration: none;
}

.out {
  color: #183070;
}

.out:hover {
  color: #335fd8;
  text-decoration: none;
}

.content {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 84vh;
  padding: 1rem;
  overflow-y: auto;
}

.list-wrapper>div {
  margin: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 1.5rem #d3d39e;
}

.list-item {
  display: flex;
  flex: 1;
}

.list-item>img {
  border-radius: 0.5rem;
}

.list-item>div>p {
  text-align: center;
  font-size: large;
  font-weight: 600;
}

.list-item>div>span {
  text-align: center;
}

.list-item>div>a {
  text-align: right;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.list-item>div {
  margin: 0.5rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  background: #ffffff;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: solid 1px #cfcfcf;
  height: 6vh;
}

footer>p {
  margin-bottom: 0 !important;
}

.carousel {
  background:#007aeb;
}

.carousel-item .img-fluid {
  width:100%;
}

.carousel-item a {
  display: block;
  width:100%;
}