@media screen and (max-width: 1100px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .list-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 700px) {
  .list-wrapper {
    grid-template-columns: 1fr !important;
  }
}